:root.dark-mode a.gensmall img {
	filter: invert(83%);
	mix-blend-mode: difference;
}

.dark-mode img#i_post, .dark-mode img#i_post1{
	filter: invert(100%) contrast(60%);
}
.dark-mode .sujetsboxwrap img {
	filter: brightness(50%);
}

.dark-mode .qgroup img {
	filter: none;
	border: 1px solid #5E5E5E;
}

.dark-mode .controlprofil img {
	filter: invert(79%);
	mix-blend-mode: overlay;
}

.dark-mode .contactswrapper a img {
	background: var(--sombre);
	border: 3px solid var(--blanc);
	filter: invert(83%);
	mix-blend-mode: overlay;
}

.dark-mode .catatar img {
	border: var(--bord-b);
	filter: grayscale(100%) brightness(50%) contrast(80%);
}

.dark-mode img.catcatoneimg {
	filter: invert(80%);
}

.dark-mode .arrierenav img {
	filter: invert(83%);
	mix-blend-mode: difference;
}

.dark-mode .commentbox img {
	filter: brightness(80%);
}

.dark-mode select {
	filter: brightness(40%);
}

.dark-mode a #one, .dark-mode table.noprint:nth-child(1) > tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(1) > a:nth-child(2) > img:nth-child(1), .dark-mode #i_reply, .dark-mode a #Newtopic, .dark-mode .three-col > tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(2) > form:nth-child(10) > table:nth-child(1) > tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(1) > a:nth-child(2) > img:nth-child(1) {
	filter: invert(75%);
	mix-blend-mode: difference;
}

.dark-mode .row1 img, .dark-mode .row2 img {
	filter: brightness(50%);
}

.dark-mode .catdesc img {
	filter: contrast(73%) saturate(200%) brightness(50%);
}

:root.dark-mode .bodyperfection {
	border: 1px solid black;
	background: #2424244f;
}

.dark-mode a:link {
	color: #919191;
}

.dark-mode .likesshow p, .dark-mode .rep-button,.dark-mode .rep-button:active {
	background-color: #343434;
	border: 1px solid #6a6a6a;
	border-radius: 0;
	box-shadow: none;
	cursor: pointer;
	font-family: lato;
	margin: 3px 3px 6px 0;
	outline: none;
	padding: 1em;
	text-transform: lowercase;
	transition: color .4s;
}



.dark-mode .codebox dd, .dark-mode .codebox.hidecode dd {
	background-color: var(--blanc);
	border: solid 1px #505050;
	padding: 1em;
	color: #949494;
}

.dark-mode .postbody {
	color: #acacac;
	font-size: 12px;
	line-height: 18px;
}

:root.dark-mode .cattwoiconfull span {
	text-shadow: none;
}

:root.dark-mode .bodyline {
	background: #1a1a1a;
	border: #343434 1px solid;
	padding: 10px;
}

:root.dark-mode .forumlink:link,:root.dark-mode.forumlink:visited{
	color: #749191 !important;
  	text-shadow: none;
}



.dark-mode a:visited {
	color: #749191;
}


.dark-mode .i_msg_newpost {
	filter: invert(83%);
}

:root.dark-mode .catwrapper h2 {
	color: #636363;
		text-shadow: none;
}


.dark-mode .profdetailswrap {
	color: #949494;
}

.dark-mode .ytb2020 {
	background: #1a1a1a !important;
        border-color:black;
}

.dark-mode .cattitle {
	color: #cecece;
}

.dark-mode .apptop {
	background-color: #1a1a1a;
	border: 20px solid #2B2B2B;
	outline: 1px solid #636363;
}

.dark-mode .app-cont {
	border: 1px solid #2b2b2b;
	color: #6E6E6E;
	background-color: #2b2b2b;
}

.dark-mode .postbody {
	color: #acacac;
	font-size: 12px;
	line-height: 18px;
}

.dark-mode  #i_reply_locked1, .dark-mode #i_reply_locked {
	filter: invert(100%);
}


.dark-mode .app-fullimg {
	border: 10px solid #2b2b2b;
	box-shadow: #1a1a1a 0 0 80px inset;
	outline: 1px solid #1a1a1a;
}

.dark-mode div.app-cont h1 {
	border-bottom: 1px solid #1a1a1a;
}

.dark-mode .story-block {
	background-color: #2b2b2b;
	border-bottom: 1px solid #1a1a1a;
	color: #797979;
}

.dark-mode .story-block d {
	border-bottom: 1px solid #1a1a1a;
}

.dark-mode .ytb20content {
	background-color: #252525;
}

.dark-mode .ytb20content title, .dark-mode .ytb20content icons > i, .dark-mode .ytb20content desc{
	color: #707070;
}

.dark-mode .app-details{
  background:var(--blanc) !important;}

.dark-mode .app-abc {
	background: var(--blanc) !important;
	width: 480px;
	margin-top: -18px;
	padding: 15px;
	border: #242424 1px solid !important;
	border-width: 0 1px 1px 1px;
	margin-bottom: 15px;
}

.dark-mode .app-details ul {
	background: #343434;
	border-bottom: 1px solid #1a1a1a;
	color: #606060;

}

.dark-mode .forumline {
	background: #3e3e3e;
	border: none;
}

.dark-mode .ytb20content ttr {
	border-bottom: 1px solid #000;
}

.dark-mode .profdetailswrap hr {
	border-color: #202020;
}

.dark-mode .hashdark {
	filter: invert(66%) contrast(180%);
	mix-blend-mode: overlay;
}

.dark-mode .sceditor-container.ltr.sourceMode {
	filter: brightness(50%) contrast(130%);
}


.dark-mode .word-count {
	background: transparent;
}

.dark-mode span.nav {
	border: 1px solid #1a1a1a;
	background-color: var(--blanc);
}

.dark-mode.app-details ul {
	background: #343434;
	border-bottom: 1px solid #343434;
	color: #707070;
}

.dark-mode .app-abc .app-details h1 {
	border-bottom: 1px solid #6a6a6a;
	color: var(--sombre);
}

.dark-mode .app-details ul span {
	background: #3d3d3d;
	border: 1px solid #343434;
}

.dark-mode .app-tracktext {
	background: #2b2b2b;
	border: solid 1px #606060;
}

.dark-mode .app-tracktitle h1 {
	color: #707070;
}

.dark-mode .app-tracktitle h2 {
	color: #606060;
}

.dark-mode .idolpediainfos {
	background: #2b2b2b;
}

.dark-mode .albumwrapp infos span {
	color: powderblue !important;
}

.dark-mode .idolpediatop {
	background: #2b2b2b;
}

.dark-mode input.liteoption,.dark-mode input.mainoption {
	border: 1px solid #3e464c;
}

.dark-mode .profimgwrapborder {
	border: #3f3f3f 1px solid;
	
}


.dark-mode .catfoursubfolink a {
	color: #777;
}

.dark-mode .cateside {
	background-blend-mode: overlay;
}

.dark-mode #profupnamewrappper {
	text-shadow: none;
}

.dark-mode .profimgwrap {
	background: #3f3f3f;
	border: 5px solid #3f3f3f;
}

.dark-mode .contactswrapper {
	background: #343434;
	border: var(--bord-g);
	border-width: 0 0 0 1px;
}

.dark-mode .albumwrapp table {
	border-color: #1a1a1a;
}

.dark-mode .arrierenav {
	background: #1a1a1a;
	border: 1px solid #343434;
}


.dark-mode .newsannonce {
	background: #1d1d1d;
	border: 1px solid #343434;
	color: #7e7e7e;
}

.dark-mode .newsannonce h1 {
	color: var(--gris);
}

.dark-mode .newscattwoiconwrap {
	background: #262626;
	border: 1px solid #343434;
}

.dark-mode #blog_comments .postbody {
	background: #373737;
	border: #575757 1px solid;
	color: #969696;
}

.dark-mode #blog_comments .profile-icons {
	filter: invert(94%);
}

.dark-mode x {
	background: #1B1B1B;
	color: #6B6B6B;
}

.dark-mode .thmessages {
	
	color: #7D7D7D;
}


.dark-mode #notetab {
	background-color: var(--bg-clair);
	border-color: var(--bg-clair);
	color: #cccccc;
}

.dark-mode td.nav div.nav {
	background: #343434;
	border: 1px solid #636363;
	color: #bbb;
}

.dark-mode td.row3 {
	background-color: transparent;
}

.dark-mode .sujetboxttl a {
	text-shadow: none;
}

.dark-mode .sujetboxauth {
	background: transparent;
	
}

.dark-mode .sujetboxparti {
	background: transparent;

}

.dark-mode th.thCornerL, .dark-mode th.thCornerR, .dark-mode th.thtop {
	background: var(--blanc);
	border-color: var(--bg-clair);
	color: #727272;
}

.dark-mode .qeelpoptext,.dark-mode .qeelpopnb{
	background: none !important;
}

.dark-mode #text_editor_iframe, input.post, select, textarea.inputbox, textarea.post {
	background-color: transparent;
	border: 1px solid #696969;
}

.dark-mode input, .dark-mode textarea, .dark-mode button{
	background-color: transparent;
	border: 1px solid #6A6A6A;
}

.dark-mode .catefold {
	border: #1a1a1a 5px solid;
	outline: 1px solid #343434;
}

.dark-mode div.newscattwoiconwrap:nth-child(2) > div:nth-child(1), .dark-mode div.newscattwoiconwrap:nth-child(3) > div:nth-child(1) {
	background-color: #1a1a1a !important;
	border: none !important;
}

.dark-mode .qgroup a {
	background: none !important;
}

.dark-mode .qgroup .logok img {
	margin-top: -1px;

}

.dark-mode .profavatarborderimg, .dark-mode .profimgwrapborder {
	opacity: 0.4;
	filter: saturate(200%);
}

.dark-mode .profileyouhou {
	background-color: #343434;
}


.dark-mode td.nav div.nav {
	background: #1a1a1a;
	border: 1px solid #343434;
	color: #727272;
}


.dark-mode .icoblog {
	background: #343434;
	border: var(--bord-g);
}

.dark-mode .blogbox v {
	background: #2D2D2D;
}


.dark-mode .gen,.dark-mode  .genmed,.dark-mode .gensmall {
	color: #808080;
}

.dark-mode .logok {
	float: right;
	background-color: transparent !important;
}

.dark-mode .qgroup a{
  text-shadow:none;
}


/**fin**/
