/*ANCIENNE FICHE DE PRESENTATION*/
.app-banner {border-bottom: 5px solid #d5aee9;height: 250px;overflow: hidden;width: 511px;
}
.app-bannerimg{background-position: center!important;background-size: cover!important;filter: grayscale(100%);height: 250px;overflow: hidden;width: 511px;}
.app-bannergrey{background: #00000080;height: 250px;position: relative; top: -250px;width: 511px;}
.app-bannername{color: var(--sombre);font:normal normal normal 60px/70px "sweet hipster";padding-top: 150px; text-align: center;text-shadow: var(--o-blanche);
  text-transform: lowercase; width: 500px;}
.app-abc{background: var(--blanc);width: 480px;margin-top: -18px; padding: 15px;border: 1px solid #e4e4e4;border-width: 0 1px 1px 1px;margin-bottom: 15px;}
.app-abc .app-details{background: #f7f7f7;border: 1px solid var(--eee);color: #949494; font:normal normal 11px/12px poppins;padding: 20px 20px 20px; text-align: justify;
  width: 90%;}
.app-abc .app-details h1 {border-bottom: 1px solid #e2e2e2;color: var(--sombre);font-style:italic;font-weight:500;font:25px/25px "poppins";margin-bottom: 0;margin-top: 0;padding: 0 5px 5px;text-align: left;
  text-transform: lowercase;}
.app-abc .app-details t {
	color: var(--sombre);
	display: inline;
	font-family: poppins;
	font-size: 9px;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	letter-spacing: 0px;
	line-height: 12px;
	margin-left: 3px;
	margin-right: 5px;
	text-transform: uppercase;
	
	/*FICHE FLOW*/
#flowent .app-bannername,#flowent .app-details h1,#flowent .app-details t,#flowent .app-footerplayername span,#flowent .app-footerplayerinfos span,#flowent .cd-timeline-content h2{color: #cec377;}
#flowent #cd-timeline::before,#flowent .app-footer{background: #cec37780;}
#flowent .cd-timeline-img.cd-movie {background: #cec377;}
#flowent .app-banner{border-bottom: 5px solid #cec377;}

/*FICHE KG*/
#kglobal .app-bannername,#kglobal .app-details h1,#kglobal .app-details t,#kglobal .app-footerplayerinfos span,#kglobal .app-footerplayername span,#kglobal .cd-timeline-content h2{color: #77aace;}
#kglobal #cd-timeline::before,#kglobal .app-footer  {background: #77aace80;}
#kglobal .cd-timeline-img.cd-movie {background: #77aace;}
#kglobal .app-banner{border-bottom: 5px solid #77aace;}

/*FICHE YUSEONG*/
#ymedia .app-bannername,#ymedia .app-details h1,#ymedia .app-details t,#ymedia .app-footerplayername span,#ymedia .app-footerplayerinfos span,#ymedia .cd-timeline-content h2{color: #91ce77;}
#ymedia #cd-timeline::before,#ymedia .app-footer {background: #91ce7780;}
#ymedia .cd-timeline-img.cd-movie {background: #91ce77;}
#ymedia .app-banner{border-bottom: 5px solid #91ce77;}

/****************FICHE WDL*********************/
#wdlent .app-bannername,#wdlent .app-details h1,#wdlent .app-details t,#wdlent .app-footerplayername span,#wdlent .app-footerplayerinfos span,#wdlent .cd-timeline-content h2{color: var(--wdl-f);}
#wdlent #cd-timeline::before,#wdlent .app-footer {background: var(--wdl-l);}
#wdlent .cd-timeline-img.cd-movie {background: var(--wdl-f);}
#wdlent .app-banner{border-bottom: 5px solid var(--wdl-f);}

/****************FICHE NEW EDGE*********************/
#newedge .app-bannername,#newedge .app-details h1,#newedge .app-details t,#newedge .app-footerplayername span,#newedge .app-footerplayerinfos span,#newedge .cd-timeline-content h2  {color: var(--ne-f);}
#newedge #cd-timeline::before,#newedge .app-footer{background: var(--ne-l);}
#newedge .cd-timeline-img.cd-movie {background: var(--ne-f);}
#newedge .app-banner{border-bottom: 5px solid var(--ne-f);}

/****************FICHE STAFF*********************/
#staff .app-bannername,#staff .app-details h1,#staff .app-details t,#staff .app-footerplayername span,#staff .app-footerplayerinfos span,#staff .cd-timeline-content h2 {color: var(--staff-l);}
#staff #cd-timeline::before,#staff .app-footer {background: var(--staff-f);}
#staff .cd-timeline-img.cd-movie {background: var(--staff-l);}
#staff .app-banner{border-bottom: 5px solid var(--staff-l);}
}

/*FIN*/


.ficheliens_new {
    width: 480px;
    border: 2px solid #efefef;
    padding: 1rem;
    text-align: center;
    outline: 10px solid white;
    background-size: cover;
    background:var(--ficheliens);
}

.ficheliens_titles {
	font-family: bebas neue;
	font-size: 58px;
	padding: 16px;
	width: 469px;
	margin: 0;
	color: transparent;
	background: var(--ficheliens);
	background-clip: text;
	-webkit-background-clip: text;
	text-shadow: white 5px 5px 0;
	text-align: right;
}

.ficheliens_img {
    object-fit: cover;
    height: 200px;
    width: 200px;
    border-radius: 100%;
    position: relative;
    right: -25%;
}

h::before {
    display: inline-block;
    content: " # ";
    padding-right: 5px;
    color: black;
}

h {
    background-color: white;
    color: var(--sombre);
    padding: 0.3rem;
    border-radius: 3px;
    display: flex;
    font-family: raleway;
}

ul.nametype {
    position: absolute;
    text-align: left;
    font-size: 12px;
    font-family: poppins;
    color: black;
    top: 85px;
    display: flex;
    flex-wrap: wrap;
    width: 208px;
    place-content: space-evenly;
    height: 155px;
    margin: 0;
    padding: 5px;
    overflow: auto;
}

ul.nametype li {
    flex-shrink: 1;
    flex-basis: max-content;
    background-color: white;
    color: #393939;
    padding: 5px;
    border-radius: 4px;
    margin: 2px;
    list-style-type: none;
    flex-grow: 1;
    font-family: raleway;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 10px;
    text-align: center;
    line-height: 2.5;
}

.relationbox {
    padding: 1rem;
    width: 480px;
    border: 2px solid #eaeaea;
    outline: 10px solid white;
    display: flex;
    flex-wrap: wrap;
    background: var(--ficheliens);
}

.relationbox * {
    margin: 0;
    padding: 0;
}

.relationbox relation {
    width: 200px;
    margin: 5px;
    flex-grow: 1;
    flex-shrink: 1;
    border: 1px solid #d9d9d9;
    padding: 1rem;
    background-color: white;
    position: relative;
}

relation span {
    font-family: abril fatface;
    text-transform: uppercase;
    display: block;
    text-align: right;
    font-weight: bold;
    font-size: 18px;
    top: -8px;
    position: relative;
    right: -6px;
}

.relagif {
    width: 100px;
    height: 81px;
    object-fit: cover;
    border: 1px solid #efefef;
    outline: 1px solid #efefef;
    outline-offset: 4px;
    padding: 4px;
    margin: 0 20px 7px 0;
    float: left;
    clear: both;
    background: var(--ficheliens);
}

.relationbox p {
    height: 85px;
    overflow: auto;
    outline: 1px solid #efefef;
    outline-offset: 7px;
    margin-top: 3px;
    box-sizing: border-box;
    padding: 5px 0px;
    font-size: 12px;
    line-height: 1;
}

.emomo{
    position: absolute;
    background-color: #fff;
    padding: 1em;
    border-radius: 8px;
    bottom: 4px;
    left: 12px;
    border: 1px solid #efefef;
    z-index: 99;
}

.jaugeliens {
    background-color: #f0f0f0;
    height: 10px;
    position: relative;
    bottom: -10px;
    border-radius: 10px;
    border: 1px #d9d9d9 solid;
    margin-bottom: 14px;
    overflow: hidden;
    width: 100%;
    margin-top: 18px;
}

.jaugeliens span {
    background: var(--ficheliens);
    display: block;
    height: 100%;
    margin-top: 8px;
    left: 0;
}

.aesth {
    width: 512px;
    border: 2px solid #eaeaea;
    outline: 10px solid white;
    display: flex;
    flex-wrap: wrap;
    flex-basis: auto;
    flex-direction: column;
    height: 347px;
    align-content: center;
    justify-content: space-around;
    overflow-x: hidden;
    overflow-y: hidden;
}

.aesth img {
    display: inline-block;
    border-radius: 10px;
    padding: 5px;
    object-fit: cover;
    height: 30%;
    width: 89px;
}

.aesth img:nth-of-type(3n+1) {
    height: 63%;
    width: 90px;
}

.aesth img:nth-of-type(5) {
    width: 200px;
    height: 100%;
}

.aesth img:nth-of-type(8) {
    height: 200px;
}

.lookfor {
    width: 512px;
    border: 2px solid #eaeaea;
    outline: 10px solid white;
    display: flex;
    flex-wrap: wrap;
    flex-basis: auto;
    flex-direction: column;
    align-content: center;
    justify-content: space-around;
    overflow-x: hidden;
    overflow-y: hidden;
    background: var(--ficheliens); 
}

.lookfor p {
    margin: 10px;
    background-color: white;
    padding: .5rem;
    font-size: 12px;
    line-height: 1.2;
    border-radius: 5px;
}

.lookfor span {
    padding: 0.2rem;
    display: block;
    border-radius: 5px;
    color: white;
    font-family: bebas neue;
    font-size: 21px;
    line-height: 1;
    padding-left: 15px;
    padding-top: 5px;
    margin-bottom: 6px;
    background: var(--ficheliens);
}

.archives {
    background: var(--ficheliens);
    width: 512px;
    border: 2px solid #eaeaea;
    outline: 10px solid white;
    display: flex;
    flex-wrap: wrap;
    flex-basis: content;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
    overflow-x: hidden;
    overflow-y: hidden;
}
     
.archives p {
    margin: 10px;
    background-color: white;
    padding: .5rem;
    font-size: 12px;
    line-height: 1.2;
    border-radius: 5px;
    flex-grow: 1;
    
}

.archives span {
    background: var(--ficheliens);
    padding: 0.2rem;
    display: block;
    border-radius: 5px;
    color: white;
    font-family: bebas neue;
    font-size: 21px;
    line-height: 1;
    padding-left: 15px;
    padding-top: 5px;
    margin-bottom: 6px;
}

.archives a {
    background: var(--ficheliens) !important;
    color: transparent !important;
    padding: 5px !important;
    background-clip: text !important;
    -webkit-background-clip: text !important;
    border: none !important;
    
}

/* SHOOTING STAR CSS*/
.classementwrapper{
    display:flex;
    flex-direction:column;
    width:min-content;
    padding:10px;
    padding-bottom:0;
    font-family: Playfair Display;
    font-weight:bold;

    background:white;
    border:1px solid #efefef;
}

.classementwrapper .item{
    display:flex;
    height:140px;
    width:430px;
    position:relative;
    padding:5px;

    background:linear-gradient(to right, transparent, #f9f9f9);
    border:1px solid #efefef;
    margin-bottom:10px;
}

.classementwrapper .imageborder{
    height:100px;
    width:100px;
    padding:10px;
    margin-top:10px;

    border-radius:100px;
}

.classementwrapper .icon{
    height: 100px;
    width: 100px;
    border-radius:100px;
    display:grid;
    place-items:center;
}

.candidat--name{
    font-size:30px;
    text-transform:uppercase;
    display:grid;
    place-items:top;
    line-height:1;
    width: 220px;

    margin-top:30px;
    margin-left:10px

}

.candidat--rank{
    all:unset;
    font-size:130px;
    line-height:1;
    position:absolute;
    bottom:10px;
    right:10px;

    color:#dcdcdc;
}

.c--kg .candidat--name{color:#74C5ED;}
.c--kg .imageborder{background:linear-gradient(to left, white, #74C5ED);}

.c--wdl .candidat--name{color:#9C51E8;}
.c--wdl .imageborder{background:linear-gradient(to left, white, #9C51E8);}

.c--ym .candidat--name{color:#98EB96;}
.c--ym .imageborder{background:linear-gradient(to left, white, #98EB96);}

.c--fe .candidat--name{color:#E8D67B;}
.c--fe .imageborder{background:linear-gradient(to left, white, #E8D67B);}

.c--ne .candidat--name{color:#EA7373;}
.c--ne .imageborder{background:linear-gradient(to left, white, #EA7373);}



.item.second .candidat--rank, .item.third .candidat--rank, .item.winner .candidat--rank{
    color:white;
}

.item.winner{
    background:linear-gradient(to right, transparent, #ffeac2);
}
.item.second{
    background:linear-gradient(to right, transparent, #e9e9e9);
}

.item.third{
    background:linear-gradient(to right, transparent, #f1e7e4);
}
/*END*/
