
.hanteo__body {
  width: 500px;
  margin: auto;
  font-family: poppins;
  font-size:16px;
}

.albumwrapperall {
  display: flex;
  flex-direction: column;
  gap: 0.2em;
  background-color: white;
  border: 1px solid #efefef;
  padding: 1rem;
  border-radius: 1rem;
  margin-top: 1rem;
  outline: 1px rgb(255, 255, 255) solid;
  outline-offset: 0.5rem;
}

.albumwrapperall br{
  display:none;
}

.album__line img {
  height: 3rem;
  width: 3rem;
  border-radius: 4rem;
  -o-object-fit: cover;
     object-fit: cover;
  border: 2px solid white;
  outline: 1px solid #ffffff;
}

.album__line {
  background-color: rgba(245, 244, 243, 0.6705882353);
  border-bottom: 1px solid #efefef;
  position: relative;
  color: #434343;
  outline: 1px solid #efefef;
  outline-offset: 0.2rem;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem;
  background-image: linear-gradient(30deg, rgba(255, 212, 223, 0.34) 0% 20%, transparent 30% 70%, rgba(255, 212, 223, 0.34) 80% 100%);
}

rankhanteo {
  z-index: 999;
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  background-color: #fff;
  border-radius: 999px;
}

.hanteo__center {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  align-items: flex-start;
  flex-grow: 1;
}

.hanteo__title {
  font-family: inter;
  text-transform: uppercase;
  font-size: 0.7rem;
  letter-spacing: 0.3rem;
  color: #7c7c7c;
  background-color: #fff;
  border-radius: 1rem;
  padding: 0.3em 1em;
}

.hanteo__right {
  display: flex;
  flex-direction: column;
  text-align: right;
  justify-content: center;
  align-items: flex-end;
  width: 30%;
  gap:0.2rem;
}

.hanteo__left {
  display: flex;
  flex-direction: row;
  text-align: left;
  justify-content: center;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  gap: 0.5rem;
}

.hanteo__artist {
  font-family: playfair display;
  font-weight: bolder;
}

albumscount {
  font-size: 1.1rem;
}

.albumheading {
  display: flex;
  gap: 6rem;
  background-color: #f8f7f7;
  padding: 0.5rem 1rem;
  font-weight: bolder;
  color: #6c6c6c;
}

.hanteo__maintitle {
  font-size: 3rem;
  font-family: playfair display;
  font-style: italic;
  text-transform: lowercase;
  font-weight: bolder;
  color: #797979;
  text-align: right;
}

.album__line:nth-of-type(1) {
  background-image: linear-gradient(45deg, rgba(255, 233, 190, 0.3137254902) 0 20%, transparent 40% 60%, rgba(255, 233, 190, 0.3137254902) 90% 100%);
}

.album__line:nth-of-type(2) {
  background-image: linear-gradient(45deg, rgba(204, 204, 204, 0.3137254902) 0 20%, transparent 40% 60%, rgba(204, 204, 204, 0.3137254902) 90% 100%);
}

.album__line:nth-of-type(3) {
  background-image: linear-gradient(45deg, rgba(204, 175, 154, 0.3137254902) 0 20%, transparent 40% 60%, rgba(204, 175, 154, 0.3137254902) 90% 100%);
}
