/*QEEL 2021*/
.qeelwrapper {
    display: grid;
    grid-template-columns: repeat(63,13px);
    grid-template-rows: repeat(24,13px);
    font-family:poppins;}
  
  .ttlonetexte {
      font-size: 10Px;
      font-weight: 600;
      letter-spacing: 1px;
  }
  
.qeelgroup {
	display: flex;
	grid-column: 1/45;
	grid-row: 1/9;
	justify-content: center;
	align-items:center;
	font-weight: 700;
	background-blend-mode: difference;
	overflow: hidden;
	flex-wrap: wrap;
	gap: 0.6rem;
}
  
  .qgroup.wdl {color: var(--wdl-l);border-color: var(--wdl-f);}
  
  .qgroup.qkg {color: var(--kg-f);}
  
  .qgroup.qym {color: var(--ym-f);}
  
  .qgroup.qfe {color: var(--fe-f);}
  
  .qgroup.qne {color: var(--ne-f);;}

.qgroup.qdreamers {
	color: #F8BBD0;
}  

  .qgroup.qstaff {
	  color: #E87BC5;
	  ;}

.qgroup a:link, .qgroup a {
	content: ' ';
	display: block;
	background-color: white;
	height: 29px;
	width: 132px;
	position: absolute;
	border-radius: 7px;
	color: currentColor;
	display: flex;
	align-items: center;
	justify-content: center;
	position:relative;
	z-index:22;
}
  
.qgroup {
	min-width: 132px;
	background-color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 7px;
	height: 29px;
	font-size: 13px;
	text-transform:capitalize;
}

.qgroup::after {
	content: ' ';
	display: block;
	background-color: currentColor;
	height: 29px;
	width: 132px;
	position: absolute;
	transform: rotate(-5deg);
	border-radius: 7px;
	z-index: 0;
}
  
.qeelttlone {
	grid-row: 1/5;
	grid-column: 45 / 65;
	border: var(--bord-g);
	text-align: left;
	text-transform: uppercase;
	font-weight: bold;
	background: var(--grad);
	font-size: 12px;
	line-height: 5;
	color: var(--blanc);
	padding-left: 1rem;
}

  .qeelconn a {
	font-size: 13px;
	line-height: 1.1;
	word-spacing: 2;
	letter-spacing: 1px;
	font-family: poppins;
	font-weight: 300;
}

  .qeelconn {border: var(--gris) 0 solid;
    border-width: 0 1px 1px;grid-column: 45/65;grid-row: 5/25;	overflow: hidden scroll;padding: 14px;text-transform: uppercase;
    background: var(--qeelclear);text-shadow: var(--o-blanche);}
  .qeelprez {
      background: var(--qeelclear);
      border: var(--bord-g);
      border-width: 1px 0;
      font-size: 12px;
      font-weight: 400;
      grid-column: 1/45;
      grid-row: 15/25;
      letter-spacing: 1px;
      padding: 10px;
      text-shadow: var(--o-blanche);
      text-transform: uppercase;
      overflow:auto;
  }
  .qeellegend {
	  text-align: center;
}
  
  .qeelpopdeux, .qeelpoptrois, .qeelpopun {
      background: var(--eee);
      border: var(--bord-g);
      font-size: 8px;
      grid-column: 1/45;
      line-height: 25px;
  }
  
  .qeelpopun {grid-row: 9/11;border-width: 1px 0 1px 0;}
  .qeelpopdeux {grid-row: 11/13;border-width: 0;}
  .qeelpoptrois {grid-row: 13/15;border-width: 1px 0 0 0;}
  .qeelpoptext {
      font-size: 9px;
      text-align: left;
      padding-left: 10px;
      text-transform: uppercase;
      letter-spacing: 0px;
      display: inline-block;
      font-weight: bold;
      word-spacing: 3px;
  }
  .qeelpopnb {text-align: right;display: block;float: right;padding-right: 10px;text-transform: uppercase;letter-spacing: 1px;font-size: 11px;font-weight:400;
  }
  
  .qgroup:nth-child(2n) .logok {float: left;margin-left: 12px;}
