/*QEEL 2021*/
.qeelwrapper {
    background: var(--blanc);
    border: 5px solid var(--blanc);
    display: grid;
    grid-template-columns: repeat(63,13px);
    grid-template-rows: repeat(24,13px);
    width: 823px;
    outline: var(--bord-g);
    font-family:var(--montserrat);}
  
  .ttlonetexte {
      font-size: 10Px;
      font-weight: 600;
      letter-spacing: 1px;
  }
  
.qeelgroup {
	background: url(https://i.imgur.com/3FbGyWS.png), var(--eee);
	border: var(--bord-g);
	display: flex;
	grid-column: 1/45;
	grid-row: 1/9;
	flex-direction: column;
	justify-content: space-between;
	font-weight: 700;
	background-blend-mode: difference;
	/* display: none; */
	overflow: hidden;
}
  
  .qgroup.wdl {color: var(--wdl-l);border-color: var(--wdl-f);}
  
  .qgroup.qkg {color: var(--kg-l);}
  
  .qgroup.qym {color: var(--ym-l);}
  
  .qgroup.qfe {color: var(--fe-l);}
  
  .qgroup.qne {color: var(--ne-l);;}

.qgroup.qdreamers {
	color: #F8BBD0;
}  

  .qgroup.qstaff {
	  color: var(--staff-l);
	  ;}

  .qgroup a {
      color: inherit;
  }
    
  .qgroup:nth-child(2n) {
      border-radius: 50px 0 0 50px;
      margin-left: 3rem;
      padding-left: 0;
      text-align: right;
      margin-right: 0;
  }
  
.qgroup {
	min-width: 132px;
	background-color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 7px;
	height: 29px;
	font-size: 13px;
}
  
  .qeelttlone {
      grid-row: 1/5;
      grid-column: 45 / 65;
      border: var(--bord-g);
      text-align: center;
      text-transform: uppercase;
      font-weight: bold;
      background: url(https://i.imgur.com/3FbGyWS.png),var(--grad);
      font-size: 12px;
      line-height: 5;
      color: var(--blanc);
  }
  .qeelconn a {font-size: 8px; line-height:138%;word-spacing: 2;letter-spacing: 1px;}
  .qeelconn {border: var(--gris) 0 solid;
    border-width: 0 1px 1px;grid-column: 45/65;grid-row: 5/25;	overflow: hidden scroll;padding: 14px;text-transform: uppercase;
    background: var(--eee);text-shadow: var(--o-blanche);}
  .qeelprez {
      background: var(--eee);
      border: var(--bord-g);
      border-width: 1px 0;
      font-size: 12px;
      font-weight: 400;
      grid-column: 1/45;
      grid-row: 15/25;
      letter-spacing: 1px;
      padding: 10px;
      text-shadow: var(--o-blanche);
      text-transform: uppercase;
      overflow:auto;
  }
  .qeellegend {grid-column: 19/45;grid-row: 7/9;text-align: center;font:bold 8px/26px;border: var(--bord-g);text-transform: uppercase;
    letter-spacing: 1px;background: var(--eee);border-width: 1px 0 0 0;}
  
  .qeelpopdeux, .qeelpoptrois, .qeelpopun {
      background: var(--eee);
      border: var(--bord-g);
      font-size: 8px;
      grid-column: 1/45;
      line-height: 25px;
  }
  
  .qeelpopun {grid-row: 9/11;border-width: 1px 0 1px 0;}
  .qeelpopdeux {grid-row: 11/13;border-width: 0;}
  .qeelpoptrois {grid-row: 13/15;border-width: 1px 0 0 0;}
  .qeelpoptext {
      font-size: 9px;
      text-align: left;
      padding-left: 10px;
      text-transform: uppercase;
      letter-spacing: 0px;
      display: inline-block;
      font-weight: bold;
      word-spacing: 3px;
  }
  .qeelpopnb {text-align: right;display: block;float: right;padding-right: 10px;text-transform: uppercase;letter-spacing: 1px;font-size: 11px;font-weight:400;
  }
  
  .qgroup .logok img {
      background: var(--blanc);
      border-radius: 100%;
      height: 1rem;
      object-fit: cover;
      padding: 0.5em;
  }
  
  .logok {
      float: right;
  }
  
  .qgroup:nth-child(2n) .logok {float: left;margin-left: 12px;}
  .qeelttlone .th-hourglass-o {
      float: right;
      font-size: 19px;
      display: block;
      border: var(--bord-g);
      padding: 15px;
      border-width: 0;
      color: var(--blanc);
      text-align: center;
  }
