ym{
color: var(--ym-f);
}

kg{
color: var(--kg-f);
}

fe{
color: var(--fe-f);
}

wdl{
color: var(--wdl-f);
}

ne{
color: var(--ne-f);
}

stf{
color: var(--staff-f);
}

ymi{
color: var(--ym-f);
}

kgi{
color: var(--kg-f);
}

fei{
color: var(--fe-f);
}

wdli{
color: var(--wdl-f);
}

nei{
color: var(--ne-f);
}

stfi{
color: var(--staff-f);
}

ymu{
color: var(--ym-f);
}

kgu{
color: var(--kg-f);
}

feu{
color: var(--fe-f);
}

wdlu{
color: var(--wdl-f);
}

neu{
color: var(--ne-f);
}

stfu{
color: var(--staff-f);
}

ymb{
color: var(--ym-f);
}

kgb{
color: var(--kg-f);
}

feb{
color: var(--fe-f);
}

wdlb{
color: var(--wdl-f);
}

neb{
color: var(--ne-f);
}

stfb{
color: var(--staff-f);
}
