.switcheroo {
    font-family: raleway;
    font-size: 12px;
}
.switcheroo__form-label {
    font-size: 12px;
    font-family: raleway;
    font-weight: bold;
}
.switcheroo {
    color: var(--sombre);
    font-size: 16px;
}
.switcheroo[position="static"] {
    position: relative;
}
.switcheroo[position="top"] {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
}
.switcheroo[direction="vertical"] {
    height: 100%;
    margin-top: 21px;
}
.switcheroo__squircles {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    padding: var(--gap-size);
    gap: var(--gap-size);
}

.switcheroo[direction="vertical"] .switcheroo__squircles {
    flex-direction: column;
}

/* squircle */
.switcheroo[theme="discord"] .switcheroo__squircle {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-squircle);
}
.switcheroo[theme="discord"] .switcheroo__squircle {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    cursor: pointer;
    transition: border-radius 128ms var(--ease);
}

.switcheroo[theme="discord"] .switcheroo__squircle:hover {
    border-radius: 36%;
}

.switcheroo[theme="discord"][direction="vertical"] .switcheroo__squircle:before {
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    background-color: var(--color-pill);
    position: absolute;
    border-radius: 4px;
    top: 50%;
    transform: translate(-100%, -50%) scale(0);
    transition: transform 128ms, opacity 64ms;
    pointer-events: none;
    opacity: 0;
}
.switcheroo[theme="discord"] .switcheroo__squircle.active {
    border-radius: 36%;
    cursor: default;
}

.switcheroo[theme="discord"][direction="vertical"] .switcheroo__squircle:hover:before {
    opacity: 1;
    transform: translate(-100%, -50%) scale(0.5);
}

.switcheroo[theme="discord"][direction="vertical"] .switcheroo__squircle.active:before {
    opacity: 1;
    transform: translate(-85%, -50%) scale(0.2);
    border-radius: 50%;
}

/* tooltip */
.switcheroo__popper {
    background-color: var(--color-tooltip);
    padding: 0.68rem 1rem;
    position: absolute;
    width: -webkit-max-content;
    width: max-content;
    border-radius: 4px;
    z-index: 0;
    opacity: 0;
    transition: opacity 64ms var(--ease), transform 128ms var(--ease-bounce);
    pointer-events: none;
    color: #fff;
}

.switcheroo[direction="vertical"] .switcheroo__popper {
    left: 155%;
    top: 50%;
    transform-origin: left;
    transform: translateY(-50%) scale(0.98);
}

.switcheroo__popper:before {
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    background-color: var(--color-tooltip);
    z-index: -1;
}

.switcheroo[direction="vertical"] .switcheroo__popper:before {
    left: -2px;
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
}

.switcheroo[direction="vertical"] .switcheroo__squircle:hover .switcheroo__popper {
    opacity: 1;
    transform: translateY(-50%) scale(1);
}

.switcheroo__squircle:hover:before {
    opacity: 1;
    transform: translate(-100%, -50%) scale(0.5);
}

/* avatar */
.switcheroo[theme="discord"] .switcheroo__avatar {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    overflow: hidden;
}

.switcheroo[theme="discord"] .switcheroo__avatar img {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* divider */
.switcheroo[theme="discord"][direction="vertical"] .switcheroo__divider {
    width: 100%;
    height: 2px;
    background-color: var(--color-pill);
    border-radius: 1px;
    opacity: 0.06;
    transform: scale(0.8);
}

/* delete button */
.switcheroo[theme="discord"] .switcheroo__delete {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 16px;
    line-height: 14px;
    height: 16px;
    top: -2px;
    right: -2px;
    border-radius: 50%;
    background-color: var(--color-delete);
    transform: scale(0);
    opacity: 1;
    transition: transform 128ms var(--ease), opacity 64ms var(--ease);
    cursor: pointer;
    font-size: 13px;
}

.switcheroo[theme="discord"] .switcheroo__squircle:hover .switcheroo__delete {
    opacity: 1;
    transform: scale(1);
}

/* logo */
.switcheroo[theme="discord"] .switcheroo__logo img {
    width: 32px;
}

.switcheroo[theme="discord"] .switcheroo__logo:hover {
    background-color: var(--sombre);
}

/* buttons */
.switcheroo[theme="discord"] .switcheroo__squircle--button {
    transition: border-radius 128ms var(--ease);
    color: var(--color-button);
}

.switcheroo[theme="discord"] .switcheroo__squircle--button:hover {
    color: #fff;
    background-color: var(--color-button);
}

/* modal */
.switcheroo__form {
    padding: 48px;
}

.switcheroo__form-row {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    margin-bottom: 16px;
}

.switcheroo__form-label {
    margin-bottom: 8px;
    font-size: 14px;
    text-transform: uppercase;
    color: var(--color-text);
}

.switcheroo__form-input {
    padding: 6px;
    font-size: 16px;
    border-radius: 4px;
    width: 100%;
    border-bottom: 2px solid var(--sombre);
    background-color: var(--color-bg);
    color: var(--color-text);
    cursor: text;
}

.switcheroo__form-button {
    border-radius: 8px;
    padding: 8px;
    border: none;
    outline: none;
    box-shadow: none;
    text-transform: uppercase;
    font-size: 14px;
    align-self: flex-end;
    color: #fff;
    background-color: var(--sombre);
}

.monomer-overlay {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    transition: 0.2s opacity ease;
    background: rgba(0, 0, 0, 0.6);
}

.monomer-modal {
    position: fixed;
    z-index: 999;
    top: 50%;
    left: 50%;
    opacity: 0;
    width: 94%;
    padding: 24px 20px;
    transition: 0.2s opacity ease;
    transform: translate(-50%, -50%);
    border-radius: 2px;
    background: var(--color-squircle);
    color: var(--color-text);
}

.monomer-modal.monomer-open.monomer-anchored {
    top: 20px;
    transform: translate(-50%, 0);
}

.monomer-modal.monomer-open {
    opacity: 1;
}

.monomer-overlay.monomer-open {
    opacity: 1;
}

.monomer-close {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    width: 24px;
    height: 24px;
    position: absolute;
    top: -5px;
    right: -5px;
    padding: 5px;
    cursor: pointer;
    color: #fff;
    border: 0;
    outline: none;
    background: var(--color-delete);
    border-radius: 50%;
    padding: 0;
}

.monomer-close:hover {
    opacity: 0.8;
}

#switcheroo {
	background: linear-gradient(-180deg,var(--ico-cl), var(--background));
	bottom: 0;
	font-family: raleway;
	font-size: 12px !important;
	position: absolute;
	top: -21px;
	margin-left: -80px;
}

#switcheroo:hover::after {
	background-color: var(--ico-cl);
	transition: 1s;
}

#switcheroo::after {
	content: url(https://i.imgur.com/wZYVJgT.png);
	left: 100%;
	position: absolute;
	height: 50px;
	width: 50px;
	top: 6rem;
	border-radius: 0 1rem 1rem 0;
	color: #fff;
	font-family: cappuccicons;
	display: grid;
	place-items: center;
	font-size: 25px;
	transition: 1s;
	padding: 10px;
}

#switcheroo:hover {
	margin-left: 0px;
	transition: 1s;
}
